@import "primeicons/primeicons.css";
@import "tailwindcss";


#app {

}


h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    font-size: 1.25em;
    font-weight: bold;
}

p {
    font-size: 1em;
}